1uzduotis/bin/Debug
1uzduotis/obj/Debug
.vs/13Paskaita/v16/.suo
4uzduotis/bin/Debug
4uzduotis/obj/Debug
7uzduotis/bin/Debug
7uzduotis/obj/Debug
6uzduotis/bin/Debug
6uzduotis/obj/Debug
8uzduotis_lambda/bin/Debug
8uzduotis_lambda/obj/Debug
8uzduotis/obj/Debug
8uzduotis/bin/Debug
13Paskaita.sln
